<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>


        <nav class="orange darken-4">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">eBeer</a>
                <ul id="nav-list" class="right hide-on-med-and-down">
                    <li><a href="/">&{'index.title'}</a></li>
                    <li><a href="/status">&{'main.apistatus'}</a></li>
                    <li><a href="/testBeers">&{'main.testbeer'}</a></li>
                    #{if username}
                        <li><a href="/profile/${username}">&{'main.profile'}</a></li>
                        <li><a href="/logout">&{'main.logout'}</a></li>
                    #{/if}
                    #{else }
                        <li><a href="/login">&{'main.login'}</a></li>
                        <li><a href="/signup">&{'main.signup'}</a></li>
                    #{/else}
                </ul>
            </div>
        </nav>
        #{doLayout /}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    </body>
</html>
