<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>  
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/createsale.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    </head>
    <body>


        <ul id="sales-dropdown" class="dropdown-content brown-text">
            <li><a href="/showsales">&{'main.sales.browse'}</a></li>
            #{if username}
                <li><a href="/createsale">&{'main.sales.create'}</a>
            #{/if}
        </ul>
        <nav class="orange darken-4">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">eBeer</a>
                <ul id="nav-list" class="right hide-on-med-and-down">
                    <li><a href="/">&{'index.title'}</a></li>
                    <li><a href="/beers">&{'main.testbeer'}</a></li>
                    <li><a href="#!" class="dropdown-button" data-activates="sales-dropdown">&{'main.sales'}</a></li>
                    #{if username}
                        <li><a href="/profile/${username}">&{'main.profile'}</a></li>
                        <li><a href="/logout">&{'main.logout'}</a></li>
                    #{/if}
                    #{else }
                        <li><a href="/login">&{'main.login'}</a></li>
                        <li><a href="/signup">&{'main.signup'}</a></li>
                    #{/else}
                </ul>
            </div>
        </nav>
        #{doLayout /}

        <footer class="page-footer center orange darken-4">
            <div class="row">
                <div class="col s12 center-align grey-text text-darken-3">
                &{'index.footer.about'} <a href="http://www.brewerydb.com" class=" blue-grey-text text-darken-4">http://www.brewerydb.com</a>
                </div>
            </div>
            <div class="footer-copyright grey-text text-lighten-2">
            &{'index.footer.copyright'}
            </div>
        </footer>
        
    </body>
</html>
