#{extends 'main.html' /}
#{set title:'eBeer - '+play.i18n.Messages.get('register.title') /}
<main class="container grey lighten-3">
        <div class="row">
            <div class="col s12">
                #{if created}
                	<p class="success"><i class="material-icons prefix">done</i>&{'register.success'}</p>
                #{/if}
                #{else}
                    <p class="error"><i class="material-icons prefix">error_outline</i>&{'register.failure'}</p>
                #{/else}
            </div>
        </div>
</main>
<footer class="page-footer center orange darken-4">
</footer>