#{extends 'main.html' /}
#{set title:'eBeer - Signup' /}
<main class="container grey lighten-3">
    <form method="post" action="register" class="col s12">
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input placeholder="username" type="text" id="username-field" name="username-field" class="validate" />
            <label for="username-field">Username</label>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" id="password-field" name="password-field" class="validate" />
            <label for="password-field">Password</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input placeholder="email" type="email" id="email-field" name="email-field" class="validate" />
            <label for="email-field">Email</label>
        </div>
        <div class="input-field col s12">
            <input type="submit" />
        </div>
    </form>

</main>
<footer class="page-footer center orange darken-4">
</footer>