#{extends 'main.html' /}
#{set title:'eBeer - '+user.username /}
<main class="container grey lighten-3">
    <div class="row">
    #{if username && username.equals(user.username)}
        <div class="col s12">
            <a href="/profile/${user.username}/edit" class="btn waves-effect waves-orange">edit</a>
        </div>
    #{/if}
        <div class="col s12">&{'profile.username'}: ${user.username}</div>
        <div class="col s12">&{'profile.email'}: ${user.email}</div>
        <div class="col s12">
            <p>&{'profile.sales'}:</p>
        #{list items:user.sales, as:'s'}
            <div class="sale row">
                <p>${s.quantity} ${s.product} on ${s.startDate} [${s.state}]</p>
            </div>
        #{/list}
        </div>
    </div>
</main>
<footer class="page-footer center orange darken-4">
</footer>