#{extends 'main.html' /}
#{set title:'eBeer - '+user.username /}
<main class="container grey lighten-3">
    <div class="row">
        <div class="col s11 push-s1">
            <h3>My account</h3>
        </div>
    </div>
    <div class="row">
    #{if username && username.equals(user.username)}
        <div class="col s12">
            <a href="/profile/${user.username}/edit" class="btn waves-effect waves-orange">&{'profile.edit'}</a>
            <a href="#" class="btn waves-effect waves-orange">&{'profile.createsale'}</a>
        </div>
    #{/if}
        <div class="col s5 push-s1">&{'profile.username'}: ${user.username}<br/>&{'profile.email'}: ${user.email}</div>
        <br/><br/>
        <div class="col s10 push-s1">
            <h4 class="center-align">&{'profile.sales'}</h4>
            <div class="sale row">
              <table class="striped">
		        <thead>
		          <tr>
		              <th data-field="beer">&{'profile.sales.beer'}</th>
		              <th data-field="quantity">&{'profile.sales.quantity'}</th>
		              <th data-field="startDate">&{'profile.sales.startdate'}</th>
		              <th data-field="state">&{'profile.sales.state'}</th>
		          </tr>
		        </thead>
		        <tbody>
			        #{list items:user.sales, as:'s'}
			          <tr>
			            <td>${s.product}</td>
			            <td>${s.quantity}</td>
			            <td>${s.startDate}</td>
			            <td>${s.state}</td>
			          </tr>
			        #{/list}
		        </tbody>
		      </table>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer center orange darken-4">
</footer>