#{extends 'main.html' /}
#{set title:'New sale' /}
<main class="container grey lighten-3">
	<h4>Recherche de bière par nom</h4>
	<div>
		<form>
			<input type="text" class="ui-state-default autocomplete" name="beer.name" value="" />
		</form>
	</div>
	<h4>Recherche de bière par autres critères</h4>
	<div>
		
	</div>
</main>
<footer class="page-footer center orange darken-4">
    <a href="/">home</a>
</footer>

<script>
$(document).ready(function(){
  $('input.autocomplete').each( function() {
    var $input = $(this);
    // Set-up the autocomplete widget.
    $(this).autocomplete({
        minLength: 3,
        source : function(req, resp) {
        	alert('salut les amis');
          $.getJSON("@{Beers.getBeersByName()}?term=" + req.term , req, function(data) {
            var suggestions = [];
            $.each(data, function(i, val) {
              var obj = {};
              obj.label = val.name;
              obj.id = val.id;
              suggestions.push(obj);
            });
            resp(suggestions);
          });
        }
      });
  });
});
</script>