#{extends 'main.html' /}
#{set title:'New sale' /}
<main class="container grey lighten-3">
	<div class="row">
		<form method="post" action="submitsale" class="col s12">
		 	<div class="input-field col s6">
				<input type="text" id="beername-field" class="ui-state-default autocomplete validate" name="beername-field" value=""/>
	            <label for="beername-field">&{'sales.beer'}</label>
	        </div>
		 	<div class="input-field col s6">
				<input type="number" id="quantity-field" name="quantity-field" class="validate" value=""/>
	            <label for="quantity-field">&{'sales.quantity'}</label>
	        </div>
	        <div class="input-field col s12">
	            <button type="submit" class="btn waves-effect waves-light teal">&{'createsale.submit'}</button>
	        </div>
		</form>
	</div>
</main>