#{extends 'main.html' /}
#{set title:'New sale' /}
<main class="container grey lighten-3">
	<div class="row">
		<div class="col s12 center-align">
			#{ifErrors}
				<span class="flow-text">&{'createsale.fail'}</span>
			   #{errors}
			       <li>${error}</li>
			   #{/errors}
			#{/ifErrors}
			#{else}
				<span class="flow-text">
				   &{'createsale.success'}:<br/>
				   ${quantity} x ${beer.getName()}
			   </span>
			#{/else}
			<div class="col s12 valign center-align">
				<p></p>
	            <a href="/createsale" class="btn waves-effect waves-orange">&{'profile.createsale'}</a>
	            <p></p>
	        </div>
		</div>
	</div>
</main>